In [4]:
import requests
import pandas as pd
import numpy as np 
from bs4 import BeautifulSoup , Comment
import warnings
warnings.filterwarnings("ignore")

In [5]:
url = 'https://fbref.com/en/comps/12/2024-2025/2024-2025-La-Liga-Stats'

In [6]:
req = requests.get(url)

In [ ]:
# print(req.text)

In [8]:
soup = BeautifulSoup(req.content ,'html.parser')

In [9]:
data = soup.find('table',id="results2024-2025121_overall")

In [10]:
Season_Table = pd.read_html(str(data))[0]

In [11]:
data2 = soup.find('table',id="stats_squads_standard_for")
data2=pd.read_html(str(data2))[0]

In [12]:
data2.columns=data2.columns.droplevel(0)

In [13]:
Squad_stats= data2.copy()

In [14]:
data3 = soup.find('table',id="stats_squads_keeper_for")

In [15]:
Goalkeeping = pd.read_html(str(data3))[0]

In [16]:
Goalkeeping.columns=Goalkeeping.columns.droplevel(0)

In [17]:
Goalkeeping

,Squad,# Pl,MP,Starts,Min,90s,GA,GA90,SoTA,Saves,...,W,D,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%
0,Alavés,3,38,38,3419,38.0,48,1.26,132,86,...,10,12,16,9,23.7,11,11,0,0,0.0
1,Athletic Club,3,38,38,3417,38.0,29,0.76,113,83,...,19,13,6,15,39.5,5,3,2,0,40.0
2,Atlético Madrid,2,38,38,3420,38.0,30,0.79,116,88,...,22,10,6,17,44.7,5,5,0,0,0.0
3,Barcelona,3,38,38,3420,38.0,39,1.03,108,69,...,28,4,6,13,34.2,4,4,0,0,0.0
4,Betis,3,38,38,3420,38.0,50,1.32,141,92,...,16,12,10,7,18.4,4,4,0,0,0.0
5,Celta Vigo,2,38,38,3420,38.0,57,1.50,145,89,...,16,7,15,8,21.1,4,3,1,0,25.0
6,Espanyol,1,38,38,3420,38.0,51,1.34,192,140,...,11,9,18,8,21.1,6,4,2,0,33.3
7,Getafe,1,38,38,3420,38.0,39,1.03,126,86,...,11,9,18,9,23.7,9,8,1,0,11.1
8,Girona,3,38,38,3420,38.0,60,1.58,164,102,...,11,8,19,8,21.1,6,3,3,0,50.0
9,Las Palmas,2,38,38,3420,38.0,61,1.61,182,120,...,8,8,22,4,10.5,10,5,4,1,44.4
10,Leganés,2,38,38,3420,38.0,56,1.47,175,122,...,9,13,16,11,28.9,8,7,0,1,0.0
11,Mallorca,2,38,38,3420,38.0,44,1.16,165,122,...,13,9,16,9,23.7,3,3,0,0,0.0
12,Osasuna,2,38,38,3420,38.0,52,1.37,187,136,...,12,16,10,9,23.7,7,7,0,0,0.0
13,Rayo Vallecano,2,38,38,3420,38.0,45,1.18,153,107,...,13,13,12,10,26.3,8,6,2,0,25.0
14,Real Madrid,3,38,38,3420,38.0,38,1.00,126,89,...,26,6,6,15,39.5,3,3,0,0,0.0
15,Real Sociedad,2,38,38,3420,38.0,46,1.21,142,94,...,13,7,18,13,34.2,7,5,2,0,28.6
16,Sevilla,2,38,38,3420,38.0,55,1.45,148,93,...,10,11,17,10,26.3,6,5,1,0,16.7
17,Valencia,2,38,38,3420,38.0,54,1.42,148,95,...,11,13,14,8,21.1,9,6,2,1,25.0
18,Valladolid,3,38,38,3420,38.0,90,2.37,204,115,...,4,4,30,5,13.2,7,7,0,0,0.0
19,Villarreal,2,38,38,3420,38.0,51,1.34,160,110,...,20,10,8,7,18.4,8,7,0,1,0.0

In [18]:
shoot = soup.find('table',id="stats_squads_shooting_for")

In [19]:

shoot = pd.read_html(str(shoot))[0]
shoot.columns=shoot.columns.droplevel(0)
shoot

,Squad,# Pl,90s,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Alavés,29,38.0,38,393,123,31.3,10.34,3.24,0.07,0.24,17.8,10,9,11,42.8,34.1,0.09,-4.8,-5.1
1,Athletic Club,31,38.0,53,462,148,32.0,12.16,3.89,0.11,0.34,17.4,8,3,6,53.0,48.2,0.11,0.0,1.8
2,Atlético Madrid,24,38.0,68,463,174,37.6,12.18,4.58,0.13,0.36,17.0,13,6,7,64.6,59.3,0.13,3.4,2.7
3,Barcelona,28,38.0,99,670,240,35.8,17.63,6.32,0.14,0.38,17.1,27,7,8,91.5,85.2,0.13,7.5,6.8
4,Betis,36,38.0,55,518,176,34.0,13.63,4.63,0.09,0.27,18.1,14,7,10,54.7,46.9,0.09,0.3,1.1
5,Celta Vigo,30,38.0,58,442,167,37.8,11.63,4.39,0.11,0.30,17.9,19,8,9,54.2,47.3,0.11,3.8,2.7
6,Espanyol,27,38.0,38,351,98,27.9,9.24,2.58,0.09,0.34,18.4,15,5,5,34.4,30.5,0.09,3.6,2.5
7,Getafe,30,38.0,34,430,122,28.4,11.32,3.21,0.07,0.24,19.4,17,5,5,36.8,33.0,0.08,-2.8,-4.0
8,Girona,30,38.0,43,397,134,33.8,10.45,3.53,0.10,0.29,17.7,13,4,5,42.5,38.6,0.10,0.5,0.4
9,Las Palmas,34,38.0,38,409,134,32.8,10.76,3.53,0.09,0.26,19.2,21,3,4,36.3,33.2,0.08,1.7,1.8
10,Leganés,26,38.0,38,345,110,31.9,9.08,2.89,0.10,0.30,20.1,19,5,7,36.0,30.6,0.09,2.0,2.4
11,Mallorca,28,38.0,34,382,107,28.0,10.05,2.82,0.08,0.28,16.3,7,4,5,38.8,34.9,0.09,-4.8,-4.9
12,Osasuna,25,38.0,46,409,123,30.1,10.76,3.24,0.09,0.30,16.7,9,9,9,44.0,37.8,0.09,2.0,-0.8
13,Rayo Vallecano,26,38.0,38,514,162,31.5,13.53,4.26,0.07,0.23,19.3,25,0,1,45.4,44.6,0.09,-7.4,-6.6
14,Real Madrid,30,38.0,78,621,229,36.9,16.34,6.03,0.11,0.30,18.1,15,10,14,75.3,64.5,0.11,2.7,3.5
15,Real Sociedad,31,38.0,34,385,122,31.7,10.13,3.21,0.08,0.25,17.5,10,4,4,42.5,39.3,0.10,-8.5,-9.3
16,Sevilla,35,38.0,39,472,148,31.4,12.42,3.89,0.08,0.25,18.8,14,2,3,42.7,40.3,0.09,-3.7,-3.3
17,Valencia,32,38.0,43,383,116,30.3,10.08,3.05,0.10,0.33,17.2,6,5,5,43.3,39.3,0.11,-0.3,-1.3
18,Valladolid,38,38.0,26,331,97,29.3,8.71,2.55,0.06,0.22,18.0,11,5,5,34.6,30.7,0.09,-8.6,-9.7
19,Villarreal,31,38.0,69,530,171,32.3,13.95,4.50,0.12,0.37,16.0,9,5,7,64.8,59.1,0.12,4.2,4.9

In [20]:
passing = soup.find('table',id="stats_squads_passing_for")

In [21]:
passing = pd.read_html(str(passing))[0]
# passing.columns=passing.columns.droplevel(0)
passing

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  Total         \
                Squad               # Pl                90s    Cmp    Att
0              Alavés                 29               38.0  10534  14746
1       Athletic Club                 31               38.0  13665  17375
2     Atlético Madrid                 24               38.0  17826  21418
3           Barcelona                 28               38.0  22321  25721
4               Betis                 36               38.0  15770  19284
5          Celta Vigo                 30               38.0  17798  21253
6            Espanyol                 27               38.0  10580  13996
7              Getafe                 30               38.0   8695  12922
8              Girona                 30               38.0  18273  21401
9          Las Palmas                 34               38.0  14352  18209
10            Leganés                 26               38.0  11207  14840
11           Mallorca                 28               38.0  12613  16224
12            Osasuna                 25               38.0  12184  16028
13     Rayo Vallecano                 26               38.0  13936  17861
14        Real Madrid                 30               38.0  21356  24221
15      Real Sociedad                 31               38.0  14880  18759
16            Sevilla                 35               38.0  14432  18057
17           Valencia                 32               38.0  13938  17708
18         Valladolid                 38               38.0  12052  15387
19         Villarreal                 31               38.0  14532  17825

                          Short         ...  Long Unnamed: 17_level_0  \
    Cmp% TotDist PrgDist    Cmp    Att  ...  Cmp%                 Ast
0   71.4  199550   84871   4546   5494  ...  46.2                  20
1   78.6  253362   90647   5552   6396  ...  51.0                  40
2   83.2  295213  100382   8814   9752  ...  59.0                  51
3   86.8  371914  116385  10452  11341  ...  65.1                  72
4   81.8  264738   91436   7583   8423  ...  54.9                  37
5   83.7  312877  104182   7549   8367  ...  58.7                  40
6   75.6  199624   80026   4245   4942  ...  49.3                  27
7   67.3  169125   74933   3711   4579  ...  42.4                  21
8   85.4  322614  100730   8002   8697  ...  59.5                  31
9   78.8  254010   92291   6396   7255  ...  50.3                  27
10  75.5  201808   76373   5038   5734  ...  42.7                  27
11  77.7  232365   90368   5538   6293  ...  52.3                  24
12  76.0  230479   92624   5022   5858  ...  52.5                  28
13  78.0  247359   94801   6459   7310  ...  48.0                  27
14  88.2  356264  110503  10517  11248  ...  66.4                  55
15  79.3  261975   89905   6750   7619  ...  52.9                  22
16  79.9  252909   88471   6743   7466  ...  46.8                  32
17  78.7  246799   86682   6341   7094  ...  48.7                  26
18  78.3  228419   83632   4795   5456  ...  52.2                  15
19  81.5  262800   96388   6234   6978  ...  57.2                  51

   Unnamed: 18_level_0 Expected       Unnamed: 21_level_0 Unnamed: 22_level_0  \
                   xAG       xA A-xAG                  KP                 1/3
0                 25.4     25.9  -5.4                 284                 963
1                 36.7     33.1   3.3                 351                1283
2                 47.9     45.3   3.1                 348                1233
3                 67.5     64.7   4.5                 500                2020
4                 37.5     34.8  -0.5                 417                1127
5                 38.4     36.9   1.6                 339                1424
6                 24.5     23.4   2.5                 256                 772
7                 23.9     23.8  -2.9                 296                 958
8                 31.6     37.4  -0.6                 308                1494
9                 26.3     26.5   0.7                 304                1059
10                23.3     21.8   3.7                 241                 796
11                26.5     28.3  -2.5                 282                 973
12                29.8     33.4  -1.8                 300                 963
13                36.2     32.2  -9.2                 374                1081
14                54.6     52.2   0.4                 501                1773
15                30.9     30.7  -8.9                 284                1087
16                30.8     24.4   1.2                 357                1072
17                30.0     33.4  -4.0                 284                1109
18                25.7     24.3 -10.7                 256                 752
19                49.7     48.0   1.3                 427                1146

   Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
                   PPA               CrsPA                PrgP
0                  229                  99                1160
1                  274                  90                1579
2                  365                  96                1559
3                  479                  77                2212
4                  329                  75                1486
5                  300                  53                1659
6                  204                  81                1000
7                  226                 104                 981
8                  302                  87                1691
9                  246                  79                1210
10                 187                  45                1030
11                 239                 112                1184
12                 265                 127                1221
13                 242                  85                1362
14                 359                  34                1967
15                 242                  64                1341
16                 210                  60                1193
17                 254                  91                1340
18                 176                  93                 991
19                 371                 102                1522

[20 rows x 26 columns]

In [22]:
Goal_creation = soup.find('table',id="stats_squads_gca_for")
Goal_creation = pd.read_html(str(Goal_creation))[0]
# Goal_creation.columns=Goal_creation.columns.droplevel(0)
Goal_creation

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   SCA         \
                Squad               # Pl                90s   SCA  SCA90
0              Alavés                 29               38.0   690  18.16
1       Athletic Club                 31               38.0   832  21.89
2     Atlético Madrid                 24               38.0   826  21.74
3           Barcelona                 28               38.0  1205  31.71
4               Betis                 36               38.0   944  24.84
5          Celta Vigo                 30               38.0   789  20.76
6            Espanyol                 27               38.0   632  16.63
7              Getafe                 30               38.0   736  19.37
8              Girona                 30               38.0   727  19.13
9          Las Palmas                 34               38.0   741  19.50
10            Leganés                 26               38.0   608  16.00
11           Mallorca                 28               38.0   684  18.00
12            Osasuna                 25               38.0   726  19.11
13     Rayo Vallecano                 26               38.0   886  23.32
14        Real Madrid                 30               38.0  1160  30.53
15      Real Sociedad                 31               38.0   682  17.95
16            Sevilla                 35               38.0   824  21.68
17           Valencia                 32               38.0   678  17.84
18         Valladolid                 38               38.0   601  15.82
19         Villarreal                 31               38.0   962  25.32

   SCA Types                           GCA       GCA Types                   \
    PassLive PassDead  TO  Sh Fld Def  GCA GCA90  PassLive PassDead  TO  Sh
0        465       95  26  41  48  15   61  1.61        39        3   3   7
1        630       65  52  38  27  20   92  2.42        63        8   7   8
2        657       49  39  42  24  15  123  3.24       100        1   7   7
3        928       60  79  71  53  14  172  4.53       127        5  17  10
4        718       62  59  48  40  17  100  2.63        72        6   4   9
5        607       41  42  57  30  12   98  2.58        77        1   5   8
6        431       73  36  35  45  12   68  1.79        41        8   3   5
7        483       94  45  37  58  19   56  1.47        33        7   1   8
8        562       60  34  37  23  11   77  2.03        56        6   2   9
9        543       65  39  39  46   9   68  1.79        54        2   2   5
10       399       57  50  35  51  16   73  1.92        48        3   9   4
11       471       96  30  48  33   6   60  1.58        45        8   0   2
12       503       93  39  42  43   6   82  2.16        49        5   5   8
13       648       82  45  58  41  12   59  1.55        38        4   7   7
14       860       84  92  70  39  15  137  3.61        98        9  11  10
15       493       74  38  34  31  12   59  1.55        42        5   5   2
16       600       69  60  51  31  13   71  1.87        59        4   3   4
17       503       66  27  34  32  16   71  1.87        49        4   3   8
18       425       63  48  21  36   8   42  1.11        30        0   6   1
19       729       82  41  59  35  16  124  3.26       101        4   4   8


   Fld Def
0    9   0
1    6   0
2    5   3
3   12   1
4    8   1
5    7   0
6   10   1
7    5   2
8    3   1
9    4   1
10   7   2
11   4   1
12  14   1
13   1   2
14   8   1
15   5   0
16   1   0
17   5   2
18   5   0
19   6   1

In [23]:
Possesion = soup.find('table',id="stats_squads_possession_for")
Possesion = pd.read_html(str(Possesion))[0]
# Possesion.columns=Possesion.columns.droplevel(0)
Possesion

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl               Poss
0              Alavés                 29               45.3
1       Athletic Club                 31               48.4
2     Atlético Madrid                 24               52.6
3           Barcelona                 28               68.3
4               Betis                 36               52.4
5          Celta Vigo                 30               53.6
6            Espanyol                 27               39.8
7              Getafe                 30               41.8
8              Girona                 30               56.3
9          Las Palmas                 34               50.7
10            Leganés                 26               42.6
11           Mallorca                 28               46.8
12            Osasuna                 25               46.1
13     Rayo Vallecano                 26               51.7
14        Real Madrid                 30               60.4
15      Real Sociedad                 31               53.8
16            Sevilla                 35               50.5
17           Valencia                 32               48.4
18         Valladolid                 38               42.8
19         Villarreal                 31               47.6

   Unnamed: 3_level_0 Touches                                          ...  \
                  90s Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen  ...
0                38.0   19070    1876    5802    8634    4809     691  ...
1                38.0   21761    1884    6255   10334    5382     760  ...
2                38.0   25387    2335    8013   11493    6074     860  ...
3                38.0   29805    1857    6516   14966    8535    1208  ...
4                38.0   23872    2253    7466   10545    6088     921  ...
5                38.0   25123    2232    7618   12133    5574     831  ...
6                38.0   18406    2655    7408    7625    3582     548  ...
7                38.0   17605    1770    5183    7998    4646     675  ...
8                38.0   25088    2516    7829   11533    5912     795  ...
9                38.0   22497    2561    7809   10353    4511     669  ...
10               38.0   19312    2448    7029    8720    3764     482  ...
11               38.0   20649    2598    7168    9299    4391     635  ...
12               38.0   20036    2263    6318    8904    5007     737  ...
13               38.0   22372    2557    7799    9339    5455     711  ...
14               38.0   28252    2392    7662   12794    8048    1181  ...
15               38.0   23027    2275    7208   10770    5243     747  ...
16               38.0   22465    2404    8057    9800    4813     669  ...
17               38.0   21876    2290    7206    9840    5033     653  ...
18               38.0   19507    2681    8158    8153    3393     523  ...
19               38.0   22112    2612    7831    9120    5352     983  ...

   Carries                                          Receiving
   Carries TotDist PrgDist PrgC  1/3  CPA  Mis  Dis       Rec  PrgR
0     9128   45578   22946  449  346   90  598  307     10419  1148
1    11368   61421   32773  682  444  188  597  401     13522  1561
2    15829   77524   41305  760  579  167  541  275     17707  1553
3    18077   92092   49435  860  667  238  579  316     22187  2201
4    13910   69976   36269  679  532  228  676  378     15627  1468
5    15010   75647   39392  709  500  218  558  296     17691  1649
6     9361   52875   28280  497  359  109  561  241     10490   991
7     7825   40262   19034  368  311  105  719  357      8611   966
8    15275   86324   44108  765  553  180  522  312     18040  1684
9    11365   56979   28603  499  346  113  547  275     14222  1197
10    9782   47776   24033  417  364  105  575  314     11128  1023
11   10945   56532   26760  479  409   85  567  377     12481  1169
12   10439   54365   27022  567  424  134  532  293     12053  1204
13   12068   58402   29156  589  431  143  630  327     13833  1346
14   17893   93355   50356  983  696  364  528  290     21223  1953
15   12533   67115   34084  645  417  163  603  297     14716  1325
16   11147   58366   29786  594  397  161  624  331     14288  1186
17   11347   59375   30877  572  414  122  534  340     13802  1328
18    9680   54312   27524  476  316  120  513  268     11933   976
19   12034   63384   34540  693  503  202  560  289     14383  1510

[20 rows x 26 columns]

In [24]:
Defensive_actions = soup.find('table',id="stats_squads_defense_for")
Defensive_actions = pd.read_html(str(Defensive_actions))[0]

Defensive_actions

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Tackles       \
                Squad               # Pl                90s     Tkl TklW
0              Alavés                 29               38.0     737  459
1       Athletic Club                 31               38.0     577  345
2     Atlético Madrid                 24               38.0     619  375
3           Barcelona                 28               38.0     538  332
4               Betis                 36               38.0     645  397
5          Celta Vigo                 30               38.0     555  340
6            Espanyol                 27               38.0     640  397
7              Getafe                 30               38.0     645  393
8              Girona                 30               38.0     569  348
9          Las Palmas                 34               38.0     619  370
10            Leganés                 26               38.0     633  384
11           Mallorca                 28               38.0     584  361
12            Osasuna                 25               38.0     614  365
13     Rayo Vallecano                 26               38.0     626  396
14        Real Madrid                 30               38.0     586  359
15      Real Sociedad                 31               38.0     649  401
16            Sevilla                 35               38.0     648  390
17           Valencia                 32               38.0     647  415
18         Valladolid                 38               38.0     596  357
19         Villarreal                 31               38.0     649  396

                           Challenges                 Blocks            \
   Def 3rd Mid 3rd Att 3rd        Tkl  Att  Tkl% Lost Blocks   Sh Pass
0      346     307      84        348  726  47.9  378    382   96  286
1      240     252      85        296  579  51.1  283    353   72  281
2      305     238      76        319  627  50.9  308    358   97  261
3      186     245     107        271  520  52.1  249    329   60  269
4      271     273     101        342  644  53.1  302    406  113  293
5      258     217      80        286  576  49.7  290    345   91  254
6      380     210      50        310  610  50.8  300    435  155  280
7      287     278      80        333  665  50.1  332    411   84  327
8      268     219      82        292  557  52.4  265    327  104  223
9      308     253      58        307  592  51.9  285    434  139  295
10     301     250      82        295  599  49.2  304    436  157  279
11     305     211      68        257  500  51.4  243    389  153  236
12     296     239      79        311  618  50.3  307    388  102  286
13     328     218      80        309  664  46.5  355    443  128  315
14     294     209      83        264  486  54.3  222    353  105  248
15     309     244      96        308  579  53.2  271    428  120  308
16     321     240      87        312  563  55.4  251    368   88  280
17     340     228      79        321  573  56.0  252    366   96  270
18     342     204      50        276  566  48.8  290    450  160  290
19     333     236      80        336  628  53.5  292    426  131  295

   Unnamed: 15_level_0 Unnamed: 16_level_0 Unnamed: 17_level_0  \
                   Int             Tkl+Int                 Clr
0                  309                1046                 918
1                  344                 921                 911
2                  260                 879                 818
3                  227                 765                 601
4                  356                1001                 910
5                  282                 837                 828
6                  315                 955                1131
7                  276                 921                1065
8                  279                 848                 722
9                  321                 940                 971
10                 332                 965                1201
11                 326                 910                1161
12                 266                 880                 918
13                 334                 960                 973
14                 331                 917                 633
15                 283                 932                 913
16                 367                1015                 931
17                 302                 949                 953
18                 311                 907                 944
19                 281                 930                 922

   Unnamed: 18_level_0
                   Err
0                   10
1                   25
2                   25
3                   14
4                   19
5                   30
6                   21
7                   15
8                   34
9                   28
10                  18
11                  17
12                  16
13                  22
14                  19
15                  21
16                  17
17                  19
18                  29
19                  21

In [25]:
# --- tables ---
# Season_Table
# Squad_stats
# Goalkeeping
# shoot
# passing
# Goal_creation
# Possesion
# Defensive_actions

In [26]:
Season_Table.head(3)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Barcelona,38,28,4,6,102,39,63,88,2.32,91.5,41.9,49.5,1.30,45953,Robert Lewandowski - 27,Iñaki Peña,→ Champions League via league finish
1,2,Real Madrid,38,26,6,6,78,38,40,84,2.21,75.3,42.8,32.5,0.86,69807,Kylian Mbappé - 31,Thibaut Courtois,→ Champions League via league finish
2,3,Atlético Madrid,38,22,10,6,68,30,38,76,2.00,64.6,33.4,31.2,0.82,60883,Alexander Sørloth - 20,Jan Oblak,→ Champions League via league finish

In [27]:
Season_Table.columns

Index(['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
       'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Top Team Scorer',
       'Goalkeeper', 'Notes'],
      dtype='object')

In [28]:
Season_Table.drop(columns='Notes',inplace=True)

In [29]:
Season_Table[['Top Scorer','Goals']]=Season_Table['Top Team Scorer'].str.split('-',n=1,expand=True)

In [30]:
Season_Table.drop(columns='Top Team Scorer',inplace = True)

In [31]:
Season_Table['Goals']=pd.to_numeric(Season_Table['Goals'])

In [32]:
Season_Table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rk          20 non-null     int64
 1   Squad       20 non-null     object
 2   MP          20 non-null     int64
 3   W           20 non-null     int64
 4   D           20 non-null     int64
 5   L           20 non-null     int64
 6   GF          20 non-null     int64
 7   GA          20 non-null     int64
 8   GD          20 non-null     int64
 9   Pts         20 non-null     int64
 10  Pts/MP      20 non-null     float64
 11  xG          20 non-null     float64
 12  xGA         20 non-null     float64
 13  xGD         20 non-null     float64
 14  xGD/90      20 non-null     float64
 15  Attendance  20 non-null     int64
 16  Goalkeeper  20 non-null     object
 17  Top Scorer  20 non-null     object
 18  Goals       20 non-null     int64
dtypes: float64(5), int64(11), object(3)
memory usage: 3.1+ KB

In [33]:

# Show all columns
pd.set_option('display.max_columns', None)

# Show all rows (if needed)
pd.set_option('display.max_rows', None)

# Optional: widen the display to fit more data
pd.set_option('display.width', None)

In [34]:
Goalkeeping.head(4)

,Squad,# Pl,MP,Starts,Min,90s,GA,GA90,SoTA,Saves,Save%,W,D,L,CS,CS%,PKatt,PKA,PKsv,PKm,Save%
0,Alavés,3,38,38,3419,38.0,48,1.26,132,86,72.0,10,12,16,9,23.7,11,11,0,0,0.0
1,Athletic Club,3,38,38,3417,38.0,29,0.76,113,83,77.0,19,13,6,15,39.5,5,3,2,0,40.0
2,Atlético Madrid,2,38,38,3420,38.0,30,0.79,116,88,78.4,22,10,6,17,44.7,5,5,0,0,0.0
3,Barcelona,3,38,38,3420,38.0,39,1.03,108,69,67.6,28,4,6,13,34.2,4,4,0,0,0.0

In [35]:
Goalkeeping.columns

Index(['Squad', '# Pl', 'MP', 'Starts', 'Min', '90s', 'GA', 'GA90', 'SoTA',
       'Saves', 'Save%', 'W', 'D', 'L', 'CS', 'CS%', 'PKatt', 'PKA', 'PKsv',
       'PKm', 'Save%'],
      dtype='object')

In [36]:
Goalkeeping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Squad   20 non-null     object
 1   # Pl    20 non-null     int64
 2   MP      20 non-null     int64
 3   Starts  20 non-null     int64
 4   Min     20 non-null     int64
 5   90s     20 non-null     float64
 6   GA      20 non-null     int64
 7   GA90    20 non-null     float64
 8   SoTA    20 non-null     int64
 9   Saves   20 non-null     int64
 10  Save%   20 non-null     float64
 11  W       20 non-null     int64
 12  D       20 non-null     int64
 13  L       20 non-null     int64
 14  CS      20 non-null     int64
 15  CS%     20 non-null     float64
 16  PKatt   20 non-null     int64
 17  PKA     20 non-null     int64
 18  PKsv    20 non-null     int64
 19  PKm     20 non-null     int64
 20  Save%   20 non-null     float64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.4+ KB

In [37]:
shoot.head()

,Squad,# Pl,90s,Gls,Sh,SoT,SoT%,Sh/90,SoT/90,G/Sh,G/SoT,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG
0,Alavés,29,38.0,38,393,123,31.3,10.34,3.24,0.07,0.24,17.8,10,9,11,42.8,34.1,0.09,-4.8,-5.1
1,Athletic Club,31,38.0,53,462,148,32.0,12.16,3.89,0.11,0.34,17.4,8,3,6,53.0,48.2,0.11,0.0,1.8
2,Atlético Madrid,24,38.0,68,463,174,37.6,12.18,4.58,0.13,0.36,17.0,13,6,7,64.6,59.3,0.13,3.4,2.7
3,Barcelona,28,38.0,99,670,240,35.8,17.63,6.32,0.14,0.38,17.1,27,7,8,91.5,85.2,0.13,7.5,6.8
4,Betis,36,38.0,55,518,176,34.0,13.63,4.63,0.09,0.27,18.1,14,7,10,54.7,46.9,0.09,0.3,1.1

In [38]:
shoot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Squad    20 non-null     object
 1   # Pl     20 non-null     int64
 2   90s      20 non-null     float64
 3   Gls      20 non-null     int64
 4   Sh       20 non-null     int64
 5   SoT      20 non-null     int64
 6   SoT%     20 non-null     float64
 7   Sh/90    20 non-null     float64
 8   SoT/90   20 non-null     float64
 9   G/Sh     20 non-null     float64
 10  G/SoT    20 non-null     float64
 11  Dist     20 non-null     float64
 12  FK       20 non-null     int64
 13  PK       20 non-null     int64
 14  PKatt    20 non-null     int64
 15  xG       20 non-null     float64
 16  npxG     20 non-null     float64
 17  npxG/Sh  20 non-null     float64
 18  G-xG     20 non-null     float64
 19  np:G-xG  20 non-null     float64
dtypes: float64(12), int64(7), object(1)
memory usage: 3.3+ KB

In [39]:
passing.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  Total         \
               Squad               # Pl                90s    Cmp    Att
0             Alavés                 29               38.0  10534  14746
1      Athletic Club                 31               38.0  13665  17375
2    Atlético Madrid                 24               38.0  17826  21418
3          Barcelona                 28               38.0  22321  25721
4              Betis                 36               38.0  15770  19284

                         Short              Medium               Long        \
   Cmp% TotDist PrgDist    Cmp    Att  Cmp%    Cmp    Att  Cmp%   Cmp   Att
0  71.4  199550   84871   4546   5494  82.7   4441   5542  80.1  1312  2838
1  78.6  253362   90647   5552   6396  86.8   6520   7522  86.7  1395  2733
2  83.2  295213  100382   8814   9752  90.4   6993   7984  87.6  1486  2519
3  86.8  371914  116385  10452  11341  92.2   9674  10643  90.9  1577  2424
4  81.8  264738   91436   7583   8423  90.0   6318   7291  86.7  1341  2443

        Unnamed: 17_level_0 Unnamed: 18_level_0 Expected        \
   Cmp%                 Ast                 xAG       xA A-xAG
0  46.2                  20                25.4     25.9  -5.4
1  51.0                  40                36.7     33.1   3.3
2  59.0                  51                47.9     45.3   3.1
3  65.1                  72                67.5     64.7   4.5
4  54.9                  37                37.5     34.8  -0.5

  Unnamed: 21_level_0 Unnamed: 22_level_0 Unnamed: 23_level_0  \
                   KP                 1/3                 PPA
0                 284                 963                 229
1                 351                1283                 274
2                 348                1233                 365
3                 500                2020                 479
4                 417                1127                 329

  Unnamed: 24_level_0 Unnamed: 25_level_0
                CrsPA                PrgP
0                  99                1160
1                  90                1579
2                  96                1559
3                  77                2212
4                  75                1486

In [40]:
passing.columns = ['_'.join(col) for col in passing.columns]

In [41]:
passing.columns=['Squad', '# Pl',
       '90s', 'Total_Cmp', 'Total_Att', 'Total_Cmp%',
       'Total_TotDist', 'Total_PrgDist', 'Short_Cmp', 'Short_Att',
       'Short_Cmp%', 'Medium_Cmp', 'Medium_Att', 'Medium_Cmp%', 'Long_Cmp',
       'Long_Att', 'Long_Cmp%', 'Ast',
       'xAG', 'xA', 'A-xAG',
       'KP', '1/3',
       'PPA', 'CrsPA',
       'PrgP']

In [42]:
passing

,Squad,# Pl,90s,Total_Cmp,Total_Att,Total_Cmp%,Total_TotDist,Total_PrgDist,Short_Cmp,Short_Att,Short_Cmp%,Medium_Cmp,Medium_Att,Medium_Cmp%,Long_Cmp,Long_Att,Long_Cmp%,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP
0,Alavés,29,38.0,10534,14746,71.4,199550,84871,4546,5494,82.7,4441,5542,80.1,1312,2838,46.2,20,25.4,25.9,-5.4,284,963,229,99,1160
1,Athletic Club,31,38.0,13665,17375,78.6,253362,90647,5552,6396,86.8,6520,7522,86.7,1395,2733,51.0,40,36.7,33.1,3.3,351,1283,274,90,1579
2,Atlético Madrid,24,38.0,17826,21418,83.2,295213,100382,8814,9752,90.4,6993,7984,87.6,1486,2519,59.0,51,47.9,45.3,3.1,348,1233,365,96,1559
3,Barcelona,28,38.0,22321,25721,86.8,371914,116385,10452,11341,92.2,9674,10643,90.9,1577,2424,65.1,72,67.5,64.7,4.5,500,2020,479,77,2212
4,Betis,36,38.0,15770,19284,81.8,264738,91436,7583,8423,90.0,6318,7291,86.7,1341,2443,54.9,37,37.5,34.8,-0.5,417,1127,329,75,1486
5,Celta Vigo,30,38.0,17798,21253,83.7,312877,104182,7549,8367,90.2,8368,9325,89.7,1480,2521,58.7,40,38.4,36.9,1.6,339,1424,300,53,1659
6,Espanyol,27,38.0,10580,13996,75.6,199624,80026,4245,4942,85.9,4814,5678,84.8,1297,2629,49.3,27,24.5,23.4,2.5,256,772,204,81,1000
7,Getafe,30,38.0,8695,12922,67.3,169125,74933,3711,4579,81.0,3515,4628,76.0,1250,2951,42.4,21,23.9,23.8,-2.9,296,958,226,104,981
8,Girona,30,38.0,18273,21401,85.4,322614,100730,8002,8697,92.0,8458,9319,90.8,1526,2565,59.5,31,31.6,37.4,-0.6,308,1494,302,87,1691
9,Las Palmas,34,38.0,14352,18209,78.8,254010,92291,6396,7255,88.2,6214,7269,85.5,1395,2776,50.3,27,26.3,26.5,0.7,304,1059,246,79,1210
10,Leganés,26,38.0,11207,14840,75.5,201808,76373,5038,5734,87.9,4716,5600,84.2,1169,2735,42.7,27,23.3,21.8,3.7,241,796,187,45,1030
11,Mallorca,28,38.0,12613,16224,77.7,232365,90368,5538,6293,88.0,5349,6310,84.8,1466,2803,52.3,24,26.5,28.3,-2.5,282,973,239,112,1184
12,Osasuna,25,38.0,12184,16028,76.0,230479,92624,5022,5858,85.7,5403,6487,83.3,1489,2835,52.5,28,29.8,33.4,-1.8,300,963,265,127,1221
13,Rayo Vallecano,26,38.0,13936,17861,78.0,247359,94801,6459,7310,88.4,5793,6748,85.8,1401,2920,48.0,27,36.2,32.2,-9.2,374,1081,242,85,1362
14,Real Madrid,30,38.0,21356,24221,88.2,356264,110503,10517,11248,93.5,8566,9311,92.0,1723,2595,66.4,55,54.6,52.2,0.4,501,1773,359,34,1967
15,Real Sociedad,31,38.0,14880,18759,79.3,261975,89905,6750,7619,88.6,6360,7434,85.6,1421,2687,52.9,22,30.9,30.7,-8.9,284,1087,242,64,1341
16,Sevilla,35,38.0,14432,18057,79.9,252909,88471,6743,7466,90.3,6146,7086,86.7,1267,2706,46.8,32,30.8,24.4,1.2,357,1072,210,60,1193
17,Valencia,32,38.0,13938,17708,78.7,246799,86682,6341,7094,89.4,6081,7066,86.1,1284,2634,48.7,26,30.0,33.4,-4.0,284,1109,254,91,1340
18,Valladolid,38,38.0,12052,15387,78.3,228419,83632,4795,5456,87.9,5607,6494,86.3,1410,2699,52.2,15,25.7,24.3,-10.7,256,752,176,93,991
19,Villarreal,31,38.0,14532,17825,81.5,262800,96388,6234,6978,89.3,6564,7485,87.7,1463,2559,57.2,51,49.7,48.0,1.3,427,1146,371,102,1522

In [43]:
Goal_creation.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   SCA         \
               Squad               # Pl                90s   SCA  SCA90
0             Alavés                 29               38.0   690  18.16
1      Athletic Club                 31               38.0   832  21.89
2    Atlético Madrid                 24               38.0   826  21.74
3          Barcelona                 28               38.0  1205  31.71
4              Betis                 36               38.0   944  24.84

  SCA Types                           GCA       GCA Types                   \
   PassLive PassDead  TO  Sh Fld Def  GCA GCA90  PassLive PassDead  TO  Sh
0       465       95  26  41  48  15   61  1.61        39        3   3   7
1       630       65  52  38  27  20   92  2.42        63        8   7   8
2       657       49  39  42  24  15  123  3.24       100        1   7   7
3       928       60  79  71  53  14  172  4.53       127        5  17  10
4       718       62  59  48  40  17  100  2.63        72        6   4   9


  Fld Def
0   9   0
1   6   0
2   5   3
3  12   1
4   8   1

In [44]:
Goal_creation.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0   SCA         \
               Squad               # Pl                90s   SCA  SCA90
0             Alavés                 29               38.0   690  18.16
1      Athletic Club                 31               38.0   832  21.89
2    Atlético Madrid                 24               38.0   826  21.74
3          Barcelona                 28               38.0  1205  31.71
4              Betis                 36               38.0   944  24.84

  SCA Types                           GCA       GCA Types                   \
   PassLive PassDead  TO  Sh Fld Def  GCA GCA90  PassLive PassDead  TO  Sh
0       465       95  26  41  48  15   61  1.61        39        3   3   7
1       630       65  52  38  27  20   92  2.42        63        8   7   8
2       657       49  39  42  24  15  123  3.24       100        1   7   7
3       928       60  79  71  53  14  172  4.53       127        5  17  10
4       718       62  59  48  40  17  100  2.63        72        6   4   9


  Fld Def
0   9   0
1   6   0
2   5   3
3  12   1
4   8   1

In [45]:
Goal_creation.columns = ['_'.join(col) for col in Goal_creation.columns]

In [46]:
Goal_creation.columns=['Squad', '# Pl',
       '90s', 'SCA', 'SCA90', 'SCA_PassLive',
       'SCA_PassDead', 'SCA_TO', 'SCA_Sh', 'SCA_Fld',
       'SCA_Def', 'GCA', 'GCA90', 'GCA_PassLive',
       'GCA_PassDead', 'GCA_TO', 'GCA_Sh', 'GCA_Fld',
       'GCA_Def']

In [47]:
Goal_creation

,Squad,# Pl,90s,SCA,SCA90,SCA_PassLive,SCA_PassDead,SCA_TO,SCA_Sh,SCA_Fld,SCA_Def,GCA,GCA90,GCA_PassLive,GCA_PassDead,GCA_TO,GCA_Sh,GCA_Fld,GCA_Def
0,Alavés,29,38.0,690,18.16,465,95,26,41,48,15,61,1.61,39,3,3,7,9,0
1,Athletic Club,31,38.0,832,21.89,630,65,52,38,27,20,92,2.42,63,8,7,8,6,0
2,Atlético Madrid,24,38.0,826,21.74,657,49,39,42,24,15,123,3.24,100,1,7,7,5,3
3,Barcelona,28,38.0,1205,31.71,928,60,79,71,53,14,172,4.53,127,5,17,10,12,1
4,Betis,36,38.0,944,24.84,718,62,59,48,40,17,100,2.63,72,6,4,9,8,1
5,Celta Vigo,30,38.0,789,20.76,607,41,42,57,30,12,98,2.58,77,1,5,8,7,0
6,Espanyol,27,38.0,632,16.63,431,73,36,35,45,12,68,1.79,41,8,3,5,10,1
7,Getafe,30,38.0,736,19.37,483,94,45,37,58,19,56,1.47,33,7,1,8,5,2
8,Girona,30,38.0,727,19.13,562,60,34,37,23,11,77,2.03,56,6,2,9,3,1
9,Las Palmas,34,38.0,741,19.50,543,65,39,39,46,9,68,1.79,54,2,2,5,4,1
10,Leganés,26,38.0,608,16.00,399,57,50,35,51,16,73,1.92,48,3,9,4,7,2
11,Mallorca,28,38.0,684,18.00,471,96,30,48,33,6,60,1.58,45,8,0,2,4,1
12,Osasuna,25,38.0,726,19.11,503,93,39,42,43,6,82,2.16,49,5,5,8,14,1
13,Rayo Vallecano,26,38.0,886,23.32,648,82,45,58,41,12,59,1.55,38,4,7,7,1,2
14,Real Madrid,30,38.0,1160,30.53,860,84,92,70,39,15,137,3.61,98,9,11,10,8,1
15,Real Sociedad,31,38.0,682,17.95,493,74,38,34,31,12,59,1.55,42,5,5,2,5,0
16,Sevilla,35,38.0,824,21.68,600,69,60,51,31,13,71,1.87,59,4,3,4,1,0
17,Valencia,32,38.0,678,17.84,503,66,27,34,32,16,71,1.87,49,4,3,8,5,2
18,Valladolid,38,38.0,601,15.82,425,63,48,21,36,8,42,1.11,30,0,6,1,5,0
19,Villarreal,31,38.0,962,25.32,729,82,41,59,35,16,124,3.26,101,4,4,8,6,1

In [48]:
Possesion.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl               Poss                90s
0             Alavés                 29               45.3               38.0
1      Athletic Club                 31               48.4               38.0
2    Atlético Madrid                 24               52.6               38.0
3          Barcelona                 28               68.3               38.0
4              Betis                 36               52.4               38.0

  Touches                                                Take-Ons             \
  Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen   Live      Att Succ Succ%
0   19070    1876    5802    8634    4809     691  19059      478  185  38.7
1   21761    1884    6255   10334    5382     760  21755      791  328  41.5
2   25387    2335    8013   11493    6074     860  25380      639  276  43.2
3   29805    1857    6516   14966    8535    1208  29797      909  455  50.1
4   23872    2253    7466   10545    6088     921  23862      722  312  43.2

             Carries                                          Receiving
  Tkld Tkld% Carries TotDist PrgDist PrgC  1/3  CPA  Mis  Dis       Rec  PrgR
0  245  51.3    9128   45578   22946  449  346   90  598  307     10419  1148
1  388  49.1   11368   61421   32773  682  444  188  597  401     13522  1561
2  305  47.7   15829   77524   41305  760  579  167  541  275     17707  1553
3  375  41.3   18077   92092   49435  860  667  238  579  316     22187  2201
4  344  47.6   13910   69976   36269  679  532  228  676  378     15627  1468

In [49]:
Possesion.columns = ['_'.join(col) for col in Possesion.columns]

In [50]:
Possesion.columns=['Squad', '# Pl',
       'Poss', '90s', 'Touches',
       'Touches_Def Pen', 'Touches_Def 3rd', 'Touches_Mid 3rd',
       'Touches_Att 3rd', 'Touches_Att Pen', 'Touches_Live', 'Take-Ons_Att',
       'Take-Ons_Succ', 'Take-Ons_Succ%', 'Take-Ons_Tkld', 'Take-Ons_Tkld%',
       'Carries', 'Carries_TotDist', 'Carries_PrgDist', 'PrgC',
       'Carries_1/3', 'Carries_CPA', 'Carries_Mis', 'Carries_Dis',
       'Rec', 'Receiving_PrgR']

In [51]:
Possesion.head(2)

,Squad,# Pl,Poss,90s,Touches,Touches_Def Pen,Touches_Def 3rd,Touches_Mid 3rd,Touches_Att 3rd,Touches_Att Pen,Touches_Live,Take-Ons_Att,Take-Ons_Succ,Take-Ons_Succ%,Take-Ons_Tkld,Take-Ons_Tkld%,Carries,Carries_TotDist,Carries_PrgDist,PrgC,Carries_1/3,Carries_CPA,Carries_Mis,Carries_Dis,Rec,Receiving_PrgR
0,Alavés,29,45.3,38.0,19070,1876,5802,8634,4809,691,19059,478,185,38.7,245,51.3,9128,45578,22946,449,346,90,598,307,10419,1148
1,Athletic Club,31,48.4,38.0,21761,1884,6255,10334,5382,760,21755,791,328,41.5,388,49.1,11368,61421,32773,682,444,188,597,401,13522,1561

In [52]:
Defensive_actions.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Tackles       \
               Squad               # Pl                90s     Tkl TklW
0             Alavés                 29               38.0     737  459
1      Athletic Club                 31               38.0     577  345
2    Atlético Madrid                 24               38.0     619  375
3          Barcelona                 28               38.0     538  332
4              Betis                 36               38.0     645  397

                          Challenges                 Blocks            \
  Def 3rd Mid 3rd Att 3rd        Tkl  Att  Tkl% Lost Blocks   Sh Pass
0     346     307      84        348  726  47.9  378    382   96  286
1     240     252      85        296  579  51.1  283    353   72  281
2     305     238      76        319  627  50.9  308    358   97  261
3     186     245     107        271  520  52.1  249    329   60  269
4     271     273     101        342  644  53.1  302    406  113  293

  Unnamed: 15_level_0 Unnamed: 16_level_0 Unnamed: 17_level_0  \
                  Int             Tkl+Int                 Clr
0                 309                1046                 918
1                 344                 921                 911
2                 260                 879                 818
3                 227                 765                 601
4                 356                1001                 910

  Unnamed: 18_level_0
                  Err
0                  10
1                  25
2                  25
3                  14
4                  19

In [53]:
Defensive_actions.columns=['-'.join(col) for col in Defensive_actions.columns]

In [54]:
Defensive_actions.columns=['Squad', '# Pl',
       '90s', 'Tackles-Tkl', 'Tackles-TklW',
       'Tackles-Def 3rd', 'Tackles-Mid 3rd', 'Tackles-Att 3rd',
       'Challenges-Tkl', 'Challenges-Att', 'Challenges-Tkl%',
       'Challenges-Lost', 'Blocks', 'Blocks-Sh', 'Blocks-Pass',
       'Int', 'Tkl+Int',
       'Clr', 'Err']

In [55]:
Defensive_actions.head(3)

,Squad,# Pl,90s,Tackles-Tkl,Tackles-TklW,Tackles-Def 3rd,Tackles-Mid 3rd,Tackles-Att 3rd,Challenges-Tkl,Challenges-Att,Challenges-Tkl%,Challenges-Lost,Blocks,Blocks-Sh,Blocks-Pass,Int,Tkl+Int,Clr,Err
0,Alavés,29,38.0,737,459,346,307,84,348,726,47.9,378,382,96,286,309,1046,918,10
1,Athletic Club,31,38.0,577,345,240,252,85,296,579,51.1,283,353,72,281,344,921,911,25
2,Atlético Madrid,24,38.0,619,375,305,238,76,319,627,50.9,308,358,97,261,260,879,818,25

In [56]:
Season_Table.to_csv('Season_Table.csv')

In [57]:
Squad_stats.to_csv('Squad_stats.csv')

In [58]:
Goalkeeping.to_csv('Goalkeeping.csv')

In [59]:
shoot.to_csv('Shooting.csv')

In [60]:
passing.to_csv('Passing.csv')

In [61]:
Goal_creation.to_csv('Goal_creation.csv')

In [62]:
Possesion.to_csv('Possesion.csv')

In [63]:
Defensive_actions.to_csv('Defensive_actions.csv')